@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('vfonts/Lato.css'); // 通用字体
@import url('vfonts/FiraCode.css'); // 等宽字体


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}