// 主题颜色
@theme: var(--theme, red);

// 字体颜色
@mainTextColor: var(--mainTextColor, #333333);

// 副字体颜色
@subTextColor: var(--subTextColor, #606770);

// 背景颜色
@mainBackgroundColor: var(--mainBackgroundColor, #ffffff);

// 副背景颜色
@subBackgroundColor: var(--subBackgroundColor, #f2f2f2);

// 分割线
@divder: var(--divder, rgba(0, 0, 0, 0.06));

// 滚动条颜色
@scrollColor: #464649;
// 滚动条触碰颜色
@scrollHoverColor: #5e5e61;

// 侧边栏宽度
@layout-sidebal-width: 220px;

// 头部高度
@layout-header-height: 66px;

// 标签栏高度
@layout-tab-bar-height: 44px;

